{% extends 'shop/basic.html' %}
    
{% block title %} Shop Page {% endblock %}

{% block css %} 
    <style>
      .col-md-3 {
        display: inline-block;
        margin-left: -4px;
      }
      .carousel-indicators .active {
        background-color: blue;
      }
      .col-md-3 img {
        width: 100%;
        height: auto;
      }
      body .carousel-indicator li {
        background-color: blue;
      }
      body .carousel-indicators {
        bottom: 0;
      }
      body .carousel-control-prev-icon,
      body .carousel-control-next-icon {
        background-color: blue;
      }
      body .no-padding {
        padding-left: 0;
        padding-right: 0;
      }
      .card-text{
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
      }
      /* .card {
        margin-left: 80px;
      } */
    </style>

{%  endblock %}

{% block body %} 

{% load static %}
    <div class="container">
      <div id="demo" class="carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- Slideshow starts here -->
        <div class="container carousel-inner no-padding">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-80">
                  <img
                    src='/media/{{product.0.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.0.product_name}}</h5>
                    <p class="card-text">
                     {{product.0.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>

              <!-- Add more cards here -->
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                  <img
                  src='/media/{{product.1.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.1.product_name}}</h5>
                    <p class="card-text">
                      {{product.1.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                  <img
                  src='/media/{{product.2.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.2.product_name}}</h5>
                    <p class="card-text">
                      {{product.2.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                  <img
                  src='/media/{{product.3.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.3.product_name}}</h5>
                    <p class="card-text">
                      {{product.3.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ----------- -->

          <div class="carousel-item ">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-80">
                  <img
                  src='/media/{{product.4.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.4.product_name}}</h5>
                    <p class="card-text">
                      {{product.4.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>

              <!-- Add more cards here -->
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                  <img
                  src='/media/{{product.5.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.5.product_name}}</h5>
                    <p class="card-text">
                      {{product.5.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                  <img
                  src='/media/{{product.6.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.6.product_name}}</h5>
                    <p class="card-text">
                      {{product.6.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                  <img
                  src='/media/{{product.7.image}}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{product.7.product_name}}</h5>
                    <p class="card-text">
                      {{product.7.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----------- -->
          
        </div>
      </div>
    </div>
    
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    {%  endblock %}
    